<ion-content>
  <ion-item >
    <ion-input placeholder="days" [(ngModel)]="trip.days"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="end" [(ngModel)]="trip.end"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="start" [(ngModel)]="trip.start"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="image" [(ngModel)]="trip.image"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="price" [(ngModel)]="trip.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="from" [(ngModel)]="trip.from"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="to" [(ngModel)]="trip.to"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="transport" [(ngModel)]="trip.transport"></ion-input>
  </ion-item>
  <ion-button expand="block" shape="round" (click)="addCity()">Add </ion-button>

</ion-content>
