<ion-header >
  <ion-toolbar>
    <ion-buttons  slot="end">
      <ion-button *ngIf="user.admin == true" (click)="updatedCity()">
        <ion-icon class="edit" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="user.admin == true" slot="end">
      <ion-button  (click)="deleteCity()">
        <ion-icon class="delete" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" routerLink="../city">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="city" icon="chevron-back-outline"> </ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
    <ion-slides pager="true" class="product-slider">
      <ion-slide *ngFor="let img of loadedCity.image">
        <img [src]="img"/>
      </ion-slide>
    </ion-slides>
    <div class="ion-padding-vertical">
      <h1 class="item-name">{{ loadedCity.name }} City</h1>
      <h4 class="price">
        {{ loadedCity.country }}
      </h4>
    </div>
    <ion-segment value="detailCity" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="detailCity">
        <ion-label>Overview</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reservedTrip">
        <ion-label>Reserve Trip</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="overview" *ngIf="selectedSegment == 'detailCity'">   
      <div class="review">
        <ion-row>
          <ion-col size="4">
            Coordinates
          </ion-col>
          <ion-col size="8">
            <div class="count"> {{ loadedCity.coordinates }} </div>
          </ion-col>
        </ion-row>
      </div> 
      <div class="seperator"> <hr> </div>
      <div class="description">
        <h5>City's History</h5>
        <p> {{ loadedCity.history }} </p>
      </div>
      <div class="seperator"> <hr> </div>
      <ion-list class="listPlaces">
        <h5>Known Places</h5>
        <ion-item *ngFor="let img of loadedCity.image; let index = index">
          <ion-avatar slot="start">
            <img [src]="img"/>
          </ion-avatar>
          <ion-item>
            <ion-label>{{ loadedCity.places[index] }}</ion-label>
          </ion-item>
        </ion-item>
      </ion-list>
    </div>
    <div class="trip" *ngIf="selectedSegment == 'reservedTrip'" >
      <ion-item *ngFor="let trip of trips" (click)="reserveTrip(trip.id,trip.price)">       
        <ion-avatar slot="start" (click)="reserveTrip(trip.id,trip.price)">
          <ion-img [src]="trip.image" (click)="reserveTrip(trip.id,trip.price)"></ion-img>
        </ion-avatar>
        <ion-label (click)="reserveTrip(trip.id,trip.price)">
          <h2>from {{trip.from}} to {{trip.to}} </h2>
          <p>trip duration {{trip.days}} days</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-content>
</ion-app>
