
ion-content{
  --background:#f5f5f3 !important; 
}


ion-header{
  background:#f5f5f3 !important; 
  ion-toolbar {
    --background:#f5f5f3 !important; 
    --border-color: transparent;
      --ion-color-base: transparent !important;
      --border-width: 0 !important;
      ion-icon {
          font-size: 2rem;
          color: #50adc9;
      }
      &.toolbar-container {
          --padding: 0;
      }
      img {
          border: 1px solid #50adc9;
      }
  }
}

ion-slides{
  --bullet-background: rgb(141, 141, 141);
  --bullet-background-active: #6fbad1;
}

ion-card-content {
  box-shadow: 8px rgba(0, 0, 0, 0.08);

  text-align: left;
  img {
    margin-top: 12px;
    margin-bottom: 12px;
    float: left;
    width:  320px;
    height: 400px;
    background-size: cover;
  }
}

ion-card-title {
  font-size: 24px;
  font-family: Montserrat_Regular;
  color: rgb(36, 106, 197);
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 20px;
  font-family: Montserrat_Regular;
  font-weight: 200;
  color: #5d86d1;
  padding-top: 10px;
}

ion-item{
  --background: transparent;
  text-align: left;
  margin-left: 0;
  --padding-start:0px;
  -webkit-padding-start: 0;
  --min-height:0;
  width: 60px !important;
}

.search {
  padding: 23px;
  padding-bottom: 10px;
  padding-top: 0;
  ion-input {
      border-radius: 23px;
      height: 59px;
      background: #eeeeee;
      --padding-start: 30px;
  }
  ion-icon {
      position: absolute;
      top: 7px;
      right: 31px;
      z-index: 2;
      background: #50adc9;
      color: #fff;
      padding: 15px;
      font-size: 1rem;
      border-radius: 17px;
  }
}
