ion-header{
    // margin-bottom: 4px;
    ion-toolbar {
        --background: transparent;
        --border-color: transparent;
        --ion-color-base: transparent !important;
        --border-width: 0 !important;
        ion-icon {
            font-size: 2rem;
            color: #50adc9;
        }
        &.toolbar-container {
            --padding: 0;
        }
        img {
            border: 1px solid #50adc9;
        }
    }
}


ion-content {
    
    --background: #f5f5f3;
    
    h1 {
        padding-top: 100px;
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        color: #50adc9;
        margin-bottom: 5%;
    }

    .form {
        margin-top: 15%;
        padding-left: 30px;
        padding-right: 30px;
        background: #f5f5f3;
    }

    ion-button {
        --background: #50adc9;
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
    }
}

ion-item {
    border-radius: 50px;
    height: 55px;
    box-shadow: 1px 9px 8px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 15px;
    --highlight-height: 0px;

    ion-input {
        font-size: 18px;
        color: #50adc9;
        --padding-top: 20px;
        --padding-bottom: 15px;
        --padding-start: 5px;
    }

    ion-label {
        color: #50adc9;
    }

    a {
        font-size: 17px;
        letter-spacing: 0.5;
        text-decoration: none;
    }
}

#history {
    font-size: 18px;
    color: #50adc9;
    height: 60px;
    ion-textarea {
        margin: 0 0 4px 0;
        font-size: 16px;
    }
}

.label-file {
    cursor: pointer;
    color: #50adc9;
    padding: 18px;
    padding-left: 0;
    opacity: 50%;
}

.input-file {
    display: none;
}

ion-label {
    opacity: 50%;
    padding: 8px;
    padding-left: 0;
}