<ion-header >
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  (click)="clear()">
        <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" routerLink="../login">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" icon="chevron-back-outline"> </ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
<ion-content>

  <h1>Add City</h1>

  <div class="form">
    <ion-item >
      <ion-input placeholder="Name" [(ngModel)]="city.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="country" [(ngModel)]="city.country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Coordinates" [(ngModel)]="city.coordinates"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Known Places" [(ngModel)]="city.places"></ion-input>
    </ion-item>
    <ion-item id="history">
      <ion-textarea placeholder="History" rows="2" [(ngModel)]="city.history"></ion-textarea>
    </ion-item>
    <ion-item>
      <input type="file" (change)="onFileSelected($event)"/>
    </ion-item>
    <ion-button expand="block" shape="round" (click)="addCity()" [disabled]="!city.name || !city.country || !city.coordinates || !city.places || !city.history">Add City</ion-button>
  </div>
</ion-content>
</ion-app>