<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-avatar slot="start" (click)="back()">
      <img height="30px" width="30px" alt="" src="assets\andre-benz-axQXVkrUASg-unsplash.jpg" />
    </ion-avatar>
      <ion-icon name="sync-outline" slot="end" (click)="clear()"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
    <h1>Add City</h1>
    <div class="form">
      <ion-item >
        <ion-input placeholder="Name" [(ngModel)]="city.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select interface="popover" [(ngModel)]="city.country">
          <ion-select-option *ngFor="let country of countries" >{{ country.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Coordinates" [(ngModel)]="city.coordinates"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Known Places" [(ngModel)]="city.places"></ion-input>
      </ion-item>
      <ion-item id="history">
        <ion-textarea placeholder="History" rows="2" [(ngModel)]="city.history"></ion-textarea>
      </ion-item>
      <ion-item>
        <label for="file" class="label-file">Upload Photo</label>
        <input id="file" class="input-file" type="file" (change)="onFileSelected($event)" accept=".jpg,.png,.jpeg">
      </ion-item>
      <ion-button expand="block" shape="round" (click)="addCity()" [disabled]="!city.name || !city.country || !city.coordinates || !city.places || !city.history">Add City</ion-button>
    </div>
  </ion-content>
</ion-app>