<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-avatar slot="start" (click)="back()">
      <img height="30px" width="30px" alt="" src="assets\andre-benz-axQXVkrUASg-unsplash.jpg" />
    </ion-avatar>
      <ion-icon name="sync-outline" slot="end" (click)="refresh()"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="title">Trips</h1>
  <div>
	<h1 style="font-size: 16px; margin-bottom: 0; color: #6296e4;">Start</h1>
    <ion-input type="date" min="2022-01-01" max="2022-02-28" [(ngModel)]="dateStart"></ion-input>
	<h1 style="font-size: 16px; margin-bottom: 0; color: #6296e4;">End</h1>
    <ion-input type="date" min="2022-01-01" max="2022-02-28" [(ngModel)]="dateEnd"></ion-input>
	<div class="search">
		<ion-input placeholder="Search" [(ngModel)]="search"></ion-input>
		<ion-icon name="search-outline" (click)=searchTrips()></ion-icon>
	</div>
  </div>
	<div class="container">
		<label class="flex-box" *ngFor="let trip of trips">
			<input type="checkbox" />
			<div class="flip-card">
				<div class="front">
					<img [src]="trip.image" alt="" />
					<h2 style="font-size: 18px; font-weight: bold; color: #6296e4;">From {{trip.from}}</h2>
					<h2 style="font-size: 16px; font-weight: bold;">To {{trip.to}}</h2>
					<h2 style="font-size: 16px;">Duration {{ trip.days }} days</h2>
					<h2 style="font-size: 16px;"> ${{trip.price}}</h2>
				</div>
				<div class="back">
					<h1>Schudle</h1>
					<hr />
					<p>Trip will start from {{trip.from}} on <b>{{trip.start | date:'mediumDate'}}</b> at 9am and will continue for {{trip.days}} days until <b>{{trip.end | date:'mediumDate'}}</b> All landmarks on the schedule are famous</p>
					<button (click)="reserveTrip(trip.id,trip.price)">Reserve</button>
					<hr />
				</div>
			</div>
		</label>
	</div>
</ion-content>
