<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-avatar slot="start" routerLink="/">
      <img height="30px" width="30px" alt="" src="assets\andre-benz-axQXVkrUASg-unsplash.jpg" />
    </ion-avatar>
      <ion-icon name="sync-outline" slot="end" (click)="refresh()"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class="title">Trips</h1>
	<div class="container">
		<label class="flex-box" *ngFor="let trip of trips">
			<input type="checkbox" />
			<div class="flip-card">
				<div class="front">
					<img [src]="trip.image" alt="" />
					<h2>From {{trip.from}}</h2>
					<h2>To {{trip.to}}</h2>
					<h2> ${{trip.price}}</h2>
				</div>
				<div class="back">
					<h1>Schudle</h1>
					<hr />
					<p>From oujda to ifran<br> round-trip <b>8 day</b> dummy text ever since forever text ever since forever dummy text ever since forever.</p>
					<button routerLink="/city">Reserve</button>
					<hr />
				</div>
			</div>
		</label>
	</div>
</ion-content>
