
ion-content{
  --background:#f5f5f3 !important; 
}

ion-toolbar {
  --background:#f5f5f3 !important; 
  ion-icon {
    font-size: 25px;
    padding-right: 4px;
    color: #6fbad1;
  }
  .logout {
    padding-left: 4px;
  }
}

ion-slides{
  --bullet-background: rgb(141, 141, 141);
  --bullet-background-active: #6fbad1;
}

ion-card-content {
  box-shadow: 8px rgba(0, 0, 0, 0.08);

  text-align: left;
  img {
    margin-top: 12px;
    margin-bottom: 12px;
    float: left;
    width:  320px;
    height: 390px;
    background-size: cover;
  }
}

ion-card-title {
  font-size: 24px;
  font-family: Montserrat_Regular;
  color: rgb(36, 106, 197);
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 20px;
  font-family: Montserrat_Regular;
  font-weight: 200;
  color: #5d86d1;
  padding-top: 10px;
}

ion-item{
  --background: transparent;
  text-align: left;
  margin-left: 0;
  --padding-start:0px;
  -webkit-padding-start: 0;
  --min-height:0;
  width: 60px !important;
}


